[Unit]
Description=Next.js frontend for Zabravih
After=network.target

[Service]
User=main
WorkingDirectory=/home/main/Hack-TUES-12-Zabravih/frontend
ExecStart=/home/main/.nvm/versions/node/v24.14.1/bin/node /home/main/Hack-TUES-12-Zabravih/frontend/node_modules/.bin/next start
Restart=always
RestartSec=5
Environment=PORT=3000
Environment=NODE_ENV=production

[Install]
WantedBy=multi-user.target
